/**
  *  Description: This work flow is based on SMACSS but my custom version
  *  Version: 1.0.0
  *  Author: Martez Conner
  *  variables   (All variables are created or defined here for other sass files)
  *  theme   (apply colors and backgrounds)
  *  0-tools   (resets, bourbon, normalize, animate.scss)
  *  1-base   (element defaults, default font sizes)
  *    modules   (thumbnails, button modules, tabs, carousel)
  * 2-layouts   (create sass layouts for pages)
  **/


@import "../assets/bootstrap/bootstrap_4/sass/_bootstrap";
@import "assets/_theme";
@import "assets/_vars";

@import "assets/0-tools/bourbon/_bourbon";
@import "assets/0-tools/animate.scss/_animate";
@import "assets/0-tools/normalize";

@import "assets/1-base/_base";
@import "assets/1-base/_module";
